<!-- <div class="ekart--header">
    <div class="ekart-logo">
        ekart
    </div>
</div>
<div class="ekart--header--nav">
    <div class="ekart--top--bar">
        <a href="#">Help</a>
        <a href="#">Exchange $ returns</a>
        <a href="#">Order Tracker</a>
        <a href="#">SignUp / Login</a>
    </div>
    <div class="ekart--botton--bar">
        <div class="ekart-menu">
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">About</a>
            <a href="#">Contacts</a>
        </div>
        <div class="ekart--serach-bar">
            <input type="text" class="ekart-search-box" placeholder="Search">
            <button class="ekart--search--btn">Submit</button>
            <i class="fa fa fa-search"></i>

        </div>
    </div> -->

<div class="ekart--header">
    <div class="ekart-logo">
        <!-- <img src="images/logo.jpeg"> -->
        eKart
    </div>
    <div class="ekart--header--nav">
        <!--Top Menu-->
        <app-top-menu> </app-top-menu>
        <div class="ekart--bottom--bar">
            <!--Main Menu-->
            <app-main-menu>
            </app-main-menu>
        </div>

    </div>
</div>